.elm {
  cursor: none; }

button,
input,
a,
#topbtn,
.menu-btn {
  cursor: url(../img/none.cur), pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  -ms-box-sizing: padding-box;
  -o-box-sizing: padding-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }
  * :before,
  * :after {
    box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -ms-box-sizing: padding-box;
    -o-box-sizing: padding-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'YuGothic', 'meiryo', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none; }

html, css {
  touch-action: none; }

body {
  width: 100%;
  height: 100%;
  min-width: 1920px;
  min-height: 1200px;
  overflow-x: hidden;
  color: #000;
  background-color: #000;
  font-size: 14px;
  line-height: 1; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  background-color: transparent;
  outline: 0;
  color: inherit; }
  a:active, a:hover {
    text-decoration: none;
    outline: 0;
    color: inherit; }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

button,
input,
input[type="button"] {
  color: inherit;
  font: inherit;
  margin: inherit;
  border: none;
  outline: none; }

button,
input[type="button"] {
  text-transform: none;
  background-color: transparent; }

button,
input[type="button"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.hide {
  display: none; }

.show {
  display: block; }

.air-icon {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat; }

nav.header-wrap {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 0 auto;
/*  background: -moz-linear-gradient(top, rgba(44, 133, 255, 0.5) 0%, rgba(44, 133, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(44, 133, 255, 0.5) 0%, rgba(44, 133, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(44, 133, 255, 0.5) 0%, rgba(44, 133, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c85ff', endColorstr='#2c85ff',GradientType=0 );*/ }

.display-header {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 1.4; }
  .display-header a,
  .display-header div {
    position: relative;
    display: inline-block;
    height: 80px;
    padding-top: 6px; }
  .display-header .txt1 {
    position: relative;
    top: -4px; }
  .display-header .pull-right {
    position: absolute;
    right: 0;
    color: #fff;
    width: 260px;
    height: 78px;
    padding-left: 53px;
    padding-right: 0;
    z-index: 1; }
  .display-header .pull-left {
    color: #7eb4fe; }

.ic-hdr {
  top: 8px;
  width: 54px;
  height: 54px;
  margin: 0 18px;
  background-image: url(../img/ic_header.png);
  background-size: 270px 54px; }

.ic-top {
  top: 8px;
  width: 75px;
  height: 50px;
  margin: 0 0 0 20px;
  background-image: url(../img/ic_top.png);
  background-repeat: no-repeat;
  background-size: 75px 50px; }

.display-bg {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1920px;
  min-height: 1200px;
  margin: 0 auto; }

.contents-wrap {
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
/*  background: url(../img/bg_contents1.png) no-repeat;
  background-size: cover;
  background-position: center; */}

.atm-wrap,
.aud-wrap,
.fac-wrap,
.iot-wrap,
.med-wrap {
  position: relative;
  top: 36px;
  width: 1440px;
  margin: 0 auto; }

#atm h1 {
  text-align: center;
  color: #fff;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 0.05em; }
#atm button {
  font-weight: 300;
  padding: 6px 15px 0; }

.ic-atm {
  background-position: 0 0; }

.atm-wrap {
  height: 1060px;
  margin: 0 auto; }

.password-wrap {
  text-align: center;
  padding: 45px 0 28px 0; }
  .password-wrap input[type="text"] {
    width: 700px;
    height: 80px;
    background-color: #000;
    border: 3px solid #c6ecff;
    color: #fff;
    font-size: 48px;
    text-align: center;
    overflow: hidden;
    letter-spacing: 0.2em; }

.atm-money-row,
.atm-num-row {
  display: table; }
  .atm-money-row li,
  .atm-num-row li {
    display: table-cell;
    text-align: center; }

.atm-money-row li {
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 34px;
  padding-right: 34px; }

.atm-num-row li {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 24px;
  padding-right: 24px; }

.atm-num-wrap,
.atm-money-wrap {
  position: relative;
  margin: 0 auto; }

.atm-num-wrap {
  width: 1014px;
  height: 736px; }

.atm-money-wrap {
  width: 1203px;
  height: 774px;
  margin-top: 39px; }

.btn-num {
  width: 290px;
  height: 126px;
  font-size: 50px;
  background-image: url(../img/btn_num.png);
  background-size: 580px 126px;
  background-position: 0 0; }
  .btn-num:active {
    background-position: -290px 0; }

.btn-money,
.btn-other {
  width: 532px;
  height: 148px;
  background-image: url(../img/btn_money.png);
  background-size: 1064px 148px;
  background-position: 0 0; }
  .btn-money:active, .btn-money:focus,
  .btn-other:active,
  .btn-other:focus {
    background-position: -532px 0; }
  .btn-money .txt,
  .btn-other .txt {
    position: relative;
    top: -7px;
    letter-spacing: 0.05em; }

.btn-money {
  font-size: 60px; }

.btn-other {
  position: absolute;
  left: 50%;
  margin-left: -266px;
  margin-top: 34px;
  font-size: 54px; }

.btn-num,
.btn-money,
.btn-other {
  color: #fff;
  background-repeat: no-repeat; }
  .btn-num:active, .btn-num:focus,
  .btn-money:active,
  .btn-money:focus,
  .btn-other:active,
  .btn-other:focus {
    color: #72f3ff; }

.atm-btn-enter,
.atm-btn-cancel {
  display: block;
  position: absolute;
  bottom: 0;
  width: 186px;
  height: 186px;
  text-align: center;
  font-size: 38px;
  padding-top: 70px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: 372px 186px;
  background-position: 0 0; }
  .atm-btn-enter:active, .atm-btn-enter:hover,
  .atm-btn-cancel:active,
  .atm-btn-cancel:hover {
    background-position: -186px 0;
    color: #fff; }

.atm-btn-enter {
  right: 34px;
  background-image: url(../img/btn_enter.png); }

.atm-btn-cancel {
  left: 34px;
  background-image: url(../img/btn_cancel.png); }
